body {
    background-color: #424b59;
    margin: 0;
}

.form-login {
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
}

.form-login a {
    text-decoration: none;
    color: #878787;
}